<div id="main" class="container-fluid">
  <h3 class="page-header">{{ficha.paciente.nome}}</h3>
  
  <div class="row">
    <div class="col-md-4">
      <p><strong>Data de Nascimento:</strong></p>
      <p>{{ficha.paciente.dataNasc}}</p>
    </div>
  
    <div class="col-md-4">
      <p><strong>Sexo:</strong></p>
      <p>{{ficha.paciente.homem}}</p>
    </div>
  
    <div class="col-md-4">
      <p><strong>CPF:</strong></p>
      <p>{{ficha.paciente.cpf}}</p>
    </div>

    <div class="col-md-6">
      <p><strong>Nome da Mãe:</strong></p>
      <p>{{ficha.paciente.nomeMae}}</p>
    </div>
  
    <div class="col-md-4">
      <p><strong>Em espera:</strong></p>
      <p>{{ficha.paciente.emEspera}}</p>
    </div>
  </div>

  <hr />
  
  <div class="row">
    <div class="col-md-6">
      <p><strong>Cidade:</strong></p>
      <p>{{ficha.paciente.endereco.cidade}}</p>
    </div>
  
    <div class="col-md-4">
      <p><strong>UF:</strong></p>
      <p>{{ficha.paciente.endereco.estado}}</p>
    </div>
  
    <div class="col-md-6">
      <p><strong>Rua:</strong></p>
      <p>{{ficha.paciente.endereco.rua}}</p>
    </div>
  
    <div class="col-md-3">
      <p><strong>Numero:</strong></p>
      <p>{{ficha.paciente.endereco.numero}}</p>
    </div>

    <div class="col-md-3">
      <p><strong>CEP:</strong></p>
      <p>{{ficha.paciente.endereco.cep}}</p>
    </div>
  
    <div class="col-md-6">
      <p><strong>Bairro:</strong></p>
      <p>{{ficha.paciente.endereco.bairro}}</p>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-6">
      <p><strong>Sintomas:</strong></p>
      <p>{{ficha.sintomas}}</p>
    </div>
    
    <div class="col-md-3">
      <p><strong>Data de Atendimento:</strong></p>
      <p>{{ficha.dataAtend}}</p>
    </div>
    
    <div class="col-md-3">
      <p><strong>Diagnóstico:</strong></p>
      <p>{{ficha.doenca}}</p>
    </div>
  
    <div class="col-md-3">
      <p><strong>Hipertenso:</strong></p>
      <p>{{ficha.hipertenso}}</p>
    </div>
  
    <div class="col-md-3">
      <p><strong>Alérgico:</strong></p>
      <p>{{ficha.alergico}}</p>
    </div>
    
    <div class="col-md-3">
      <p><strong>Diabético:</strong></p>
      <p>{{ficha.diabetico}}</p>
    </div>

    <div class="col-md-3">
      <p><strong>Observações</strong></p>
      <p>{{ficha.observacoes}}</p>
    </div>

    <div class="col-md-8">
      <p><strong>Prescrição:</strong></p>
      <p>{{ficha.prescricao}}</p>
    </div>
  
  </div>
  
  <hr />
  <div id="actions" class="row">
    <div class="col-md-12">
      <button (click)="fechaFicha()" class="btn btn-primary">Fechar</button>
      <button (click)="editaFicha(ficha.posicao)" class="btn btn-default">Editar</button>
      <button class="btn btn-default" data-toggle="modal" data-target="#delete-modal">Excluir</button>

      <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="modalLabel">Excluir Item</h4>
            </div>
            <div class="modal-body">
              Deseja realmente excluir este item?
            </div>
            <div class="modal-footer">
              <button (click)="removeFicha(ficha.posicao)" type="button" class="btn btn-primary" data-dismiss="modal">Sim</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>