<div id="main" class="container-fluid">
  
  <h3 class="page-header">Editar Paciente</h3>
    
  <app-dados-pessoais [ficha]="ficha"></app-dados-pessoais>
  <app-endereco [ficha]="ficha"></app-endereco>
  <app-unidade [ficha]="ficha"></app-unidade>
  <app-quadro-clinico [ficha]="ficha"></app-quadro-clinico>
  
  <div class="row">

    <div class="col-md-12">
      <button (click)="recebeFichaAtualizada()" type="submit" class="btn btn-primary">Salvar</button>
      <button (click)="cancelaEdicao()" class="btn btn-default">Cancelar</button>
    </div>

  </div>

</div>