<div class="container">

  <div class="sub-header">
    <img class="image-header" src="../../assets/1.jpg" alt="imagem"/>
  </div>  
  
  <div class="botoes">
    <div class="row" align="center">
      <img class="col" routerLink="/cadastro" src="../../assets/cadastrar-paciente.png" alt="cadastrar">
      <img class="col" routerLink="/lista-espera" src="../../assets/lista-espera.png" alt="lista">
      <img class="col" routerLink="/unidades" src="../../assets/unidades-disponiveis.png" alt="unidades">
    </div>
  </div> 

</div>
