<div id="main" class="container-fluid">
  <h3 class="page-header">{{unidade.nome}}</h3>
  
  <div *ngFor="let ficha of database.fichas" class="row">
    <div class="col-md-6">
      <p><strong>Nome:</strong></p>
      <p>{{ficha.paciente.nome}}</p>
    </div>

    <div class="col-md-3">
      <p><strong>CPF:</strong></p>
      <p>{{ficha.paciente.cpf}}</p>
    </div>
  
    <div class="col-md-3">
      <p><strong>Data de Atendimento:</strong></p>
      <p>{{ficha.dataAtend}}</p>
    </div>
  
  </div>
  <hr />
  <button (click)="fechaUnidade()" class="btn btn-primary">Fechar</button>
</div>
